<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss}  [%thread] %highlight(%-5level) %yellow(%logger{36}) -%msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>${log.name}</file>
        <append>false</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d %p %C{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>

    <logger name="ru.sferum.book_store" level="debug" additivity="false">
        <appender-ref ref="File"/>
        <appender-ref ref="Console"/>
    </logger>

    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug">
    </logger>


</configuration>